<div
  style="padding: 2px 12px; border: 1px solid purple;"
  {{! template-lint-disable no-inline-styles}}
>
  <p>In "test component"</p>
  <p>
    Number context value is:
    {{this.contextValue}}
  </p>
  <p>
    Custom context value is:
    {{this.contextValue2}}
  </p>
</div>